/*---- ---- ---- Ajuste universal ---- ---- ----*/
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
/*---- ---- ---- Suavidad del scroll ---- ---- ----*/
html {
	scroll-behavior: smooth;
}
/*---- ---- ---- Variables css ---- ---- ----*/
:root{
    --radio: 10px;
    --negro: #000000;
    --blanco: #ffffff;
	--gris: #252525;
	--gris-medio: #131313;
	--verde: #3ef0ac;
	--azul: #0084ff;
	--rojo: #ff2020;
	--amarillo: #ffcb22;
	--gris-oscuro: #070707;
	--celeste: #5ea78b;
}
a{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/*---- ---- ---- color del scrollbar ---- ---- ----*/
::-webkit-scrollbar {
	background: var(--negro);
	border-radius: 4px;
	width: 10px;
	height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
	background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb {
	background: var(--gris);
	border-radius: 10px;
}
mostrar{
	display: none;
}
/*---- ---- ---- Body ---- ---- ----*/
body{
	font-family: 'Roboto', sans-serif;
	background: var(--negro);
	color: var(--blanco);
}
/*---- ---- ---- contenedor principal ---- ---- ----*/
.contenedor {
	width: 95%;
	margin: auto;
}
.contenedor2 {
	width: 96.5%;
	margin: auto;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* logotipo */
header .logo__img{
	height: 40px;
	width: 40px;
}
header .logotipo {
    font-family: 'Balsamiq Sans', cursive;
	font-weight: normal;
	color: var(--celeste);
	margin: 5px 0px 0px 5px;
	font-size: 40px;
}
header nav a {
	color: #666666;
	text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
header nav a:hover{
    color: #ffffff;
    transition: 0.4s;
}
header nav a.activo {
	color: var(--verde);
}
h3 .activo {
	color: var(--verde);
}
/*---- ---- ---- MENU PARA DISPOSITIVOS MOVILES ---- ---- ----*/
.menu_desplegable{
	width: 100%;
	padding: 10px 10px;
	display: none;
}
.contenedor__menu{
	height: 100%;
	transition-delay: 2s;
}
.logo__menu__img{
	margin: 20px 30px;
	height: 40px;
	width: 40px;
}
.popup-contenido {
    /* align-items: center; */
    background-color: var(--negro);
    color: var(--letras-black);
    width: 50%;
    height: 100%;
    /* margin: 14px -0px 0px 129px; */
    position: relative;
	border-radius: 8px;
	float: right;
}
.popup-contenido a .activo{
	color: var(--verde);
}
.popup-contenido h3{
    color: #ffffff;
    text-decoration: none;
    background-color:var(--gris-oscuro);
    padding: 10px 30px;
    margin: 5px;
	border-radius: 5px;
	text-align: initial;
}
.popup-contenido h3:hover{
	background: var(--verde);
	color: #000000;
}
.popup-contenido a{
    text-decoration: none;
    color: #ffffff;
}
.popup-contenido h3 a:hover{
    text-decoration: none;
    color: #000000;
}
.popup-contenido h3:hover .popup-contenido a{
	color: #000000;
}
.popup{
    background-color: rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: ease all .3s;
}
#menu:target{
    opacity:1;
    z-index: 200;
    pointer-events:auto;
}
.boton__cerrar_menu {
    /* margin: 15px 10px; */
    width: 50%;
    height: 100%;
    color: var(--blanco);
	float: left;

    /* background: lightseagreen; */
}
.boton__cerrar_menu i{
	width: 100%;
	height: 100%;
	color: transparent;
}
.banner-principal {
	font-size: 16px;
	color: #fff;
	height: 450px;
	/* display: flex;
	align-items: end; */
}
.banner-principal .contenedor {
	margin-bottom: 100px;
}
.banner-principal .titulo-banner {
	font-weight: 600;
	font-size: 50px;
}
.banner-principal .descripcion-banner {
	font-weight: normal;
	font-size: 16;
	line-height: 28px;
	margin-bottom: 20px;
}
.banner-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color: #fff;
	margin-right: 20px;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 17.92px;
    outline: inherit;
}
.banner-principal .boton:hover {
	background: #fff;
	color: #000;
}
.banner-principal .boton i {
	margin-right: 20px;
}
.contenedor__estado{
	margin: 10px 0px;
}
/*---- ---- ---- Navegacion ---- ---- ----*/
.navegacion{
	margin: 10px 0px;
	background-color: var(--gris-medio);
	padding: 8px;
	color: var(--blanco);
	text-decoration: none;
	border-radius: var(--radio);
}
/*---- ---- ---- Animes ---- ---- ----*/
.estado{
	padding: 8px 20px;
	text-decoration: none;
	color: var(--blanco);
	font-weight: bold;
	background-color: var(--azul);
	border-radius: 20px;
}
.genero{
	margin: 8px 5px;
	color: var(--blanco);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px;
	background: var(--rojo);
	border-radius: 20px;
}
.contenedor__principal{
	display: flex;
	padding-top: 32px;
	width: 100%;
}
.contenedor__imagen {
    width: 30%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenedor_info {
    width: 70%;
}
.anime__img{
	background-color: var(--gris-oscuro);
	height: 394px;
	border-radius: 8px;
}
.lista__capitulos{
	font-size: 30px;
	margin: 10px 0px;
}
.contenedor__scrollbar{
	width: 50%;
	display: flex;
}
.contenedor__capitulos{
	border-radius: 8px;
	overflow-x: hidden;
	width: 100%;
	height: 400px;
}
.contenedor__capitulos li {
	list-style: none;
	background-color: var(--gris-medio);
	border-radius: 8px;
	padding: 14px 28px;
	margin: 5px 5px 5px 0;
}
.contenedor__capitulos a {
	color: var(--blanco);
	text-decoration: none;
}

/*---- ---- ---- Footer ---- ---- ----*/
.footer{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background: #070707;
	padding: 20px 0px;
}
.docs-list,
.social-list{
	text-decoration: none;
	list-style: none;
}
.social{
	font-size: 20px;
}
.social-list{
	float: right;
	top: 30px;
	display: flex;
}
.docs-list li,.social-list{
	margin: 10px 0px;
}
.social-list li{
	margin: 0px 10px;
}
.fa-facebook-square,
.fa-github,
.fa-twitter,
.fa-telegram-plane{
	margin-right: 5px;
	font-size: 30px;
}
.fa-facebook-square,
.fa-github,
.fa-twitter,
.fa-telegram-plane{
	color: #fff;
}
.fa-facebook-square:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-telegram-plane:hover{
	color: var(--azul);
	transition: all .4s;
	transform: scale(1.3);
}
.copy{
	text-align: center;
	font-size: 18px;
	color: var(--verde);
}
@media only screen and (max-width: 980px) {
	.banner-principal .boton {
		margin-bottom: 10px;
	}
	nav{
		display: none;
	}
	.header_main{
		display: none;
	}
	header .contenedor .menu_desplegable{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.fa-stream{
		font-size: 30px;
		color: var(--blanco);
	}
	.contenedor__principal{
		justify-content: space-between;
		padding-top: 20px;
	}
	.banner-principal{
		height: 360px;
	}
	.banner-principal .titulo-banner {
		font-weight: 600;
		font-size: 30px;
		margin-top: 0px;
	}
	.contenedor__scrollbar{
		width: 100%;
	}
	.contenedor__imagen {
		width: 25%;
		height: 150px;
	}
	.anime__img {
		height: 100%;
		width: 100%;
		border-radius: 8px;
	}
	ocultar{
		display: none;
	}
	mostrar{
		display: initial;
	}
	.contenedor_info {
		width: 70%;
	}
	.banner-principal .descripcion-banner {
		margin-top: 30px;
		font-size: 16px;
		line-height: 19px;
	}
	.estado {
		padding: 2px 10px;
	}
	.contenedor__genero{
		width: 100%;
	}
	.genero {
		margin: 5px;
		color: var(--blanco);
		text-decoration: none;
		font-weight: bold;
		padding: 1px 5px;
		background: var(--rojo);
		border-radius: 20px;
	}
}
/* 
.listado-capitulos {
	margin: 20px 0px;
}
.listado-informacion{
	margin: 20px 0px;
	margin-right: 35%;
}
.titulos-list-info{
	display: flex;
	justify-content: space-between;
}
.fa-list-ul{
	margin-right: 10px;
}
.capitulo-lista{
	height: 400px;
	width: 50%;
    overflow-x: hidden;
}
.capitulo-lista a{
	text-decoration: none;
	text-align: left;
}
.capitulo-lista li{
	list-style: none;
	margin-top: 10px;
}
.capitulo-boton {
	margin-top: 20px;
	background: rgba(48, 48, 48, 0.596);
	border: none;
	border-radius: 4.96px;
	padding: 14px 34%;
    /* padding-left: 20px;
    padding-right: 220px;
	padding-bottom: 14px;
	padding-top: 14px; 
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 13px;
	outline: inherit;
	text-align: left;
}
.capitulo-boton:hover{ 
    background: #fff;
	color: #000;
	font-weight: bold;
}
/* informacion 
.contenedor-listado {
	position: relative;
}
h2.informacion-anime{
	display: inline;
	position: absolute;
	bottom: 30px;
}

/*--- --- --- popup video --- --- ---
.popup-contenido{
    align-items: center;
    position: relative;
	border-radius: 8px;
}
.fa-times{
	font-size: 30px;
}
.popup-contenido a{
	position: absolute;
	text-decoration: none;
	color: var(--negro);
	right: 120px;
	top: 15px;
	z-index: 200;
}
video{
	width: 85.5%;
	margin-left: 7.25%;
	margin-right: 7.25%;
}
.video{
	position: relative;
}
.popup{
    background-color: rgba(0, 0, 0, 0.945);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: ease all .3s;
} */
