/*---- ---- ---- Ajuste universal ---- ---- ----*/
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
html {
	scroll-behavior: smooth;
}
:root{
	--radio: 5px;
	--radio-2: 10px;
    --negro: #000000;
    --blanco: #ffffff;
	--gris: #252525;
	--verde: #3ef0ac;
	--azul: #0084ff;
	--rojo: #ff2020;
	--amarillo: #ffcb22;
	--gris-oscuro: #070707;
	--gris-oscuro-2: #0c0c0c;
	--gris-medio: #111111;
	--celeste: #5ea78b;
}
a{
    outline:none;
    outline-width: 0;
    box-shadow: none;
}
i{
	font-display: fallback;
}
/*---- ---- ---- ---- Fonts ---- ---- ---- ----*/
@font-face {
font-family: 'Product Sans Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Light Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Light Regular'), url('../fonts/ProductSans-Light.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Medium Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Black Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Black.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Bold';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Bold'), url('../fonts/ProductSans-Bold.woff') format('woff');
}
/*---- ---- ---- ---- Scrollbar para escritorio (*.html) ---- ---- ---- ----*/
::-webkit-scrollbar {
	background: var(--negro);
	border-radius: 4px;
	width: 10px;
	height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
	background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb {
	background: var(--gris-oscuro);
	border-radius: 10px;
}
/*---- ---- ---- Body ---- ---- ----*/
body{
	font-family: 'Product Sans Regular';
	background: var(--negro);
	color: var(--blanco);
}
/*---- ---- ---- ---- Contenedores (*.html) ---- ---- ---- ----*/
.contenedor {
	width: 95%;
	margin: auto;
}
/*---- ---- ---- ---- Botones ---- ---- ---- ----*/
@-webkit-keyframes push {
	50% {
		/* -webkit-transform: scale(0.8); */
		transform: scale(0.8)
	}
	100% {
		/* -webkit-transform: scale(1); */
		transform: scale(1)
	}
}
@keyframes push {
	50% {
		/* -webkit-transform: scale(0.8); */
		transform: scale(0.8)
	}
	100% {
		/* -webkit-transform: scale(1); */
		transform: scale(1)
	}
}
.push {
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}
.push:active, .push:focus, .push:hover {
	animation-name: push;
	animation-duration: .3s;
	animation-timing-function: linear;
	animation-iteration-count: 1
}
/*---- ---- ---- ---- Nabvar para escritorio ---- ---- ---- ----*/
.separador{
	height: 50px;
}
.navbar{
	width: 100%;
	height: 50px;
	background-color: var(--negro);
	z-index: 200;
	align-items: center;
	justify-content: center;
	position: fixed;
}
.contenedor__barra{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
}
.contenedor__barra a{
	text-decoration: none;
}
.contenedor__barra li {
	list-style: none;
}
.fa-stream{
	font-size: 30px;
}
.logo__cuenta{
	width: 40px;
	height: 40px;
	margin-top: 5px;
	border-radius: 20px;
}
.cuenta__usuario{
	display: flex;
	justify-content: center;
	align-items: center;
}
.username{
	margin-right: 10px;
	font-size: 18px;
}


/*---- ---- ---- ---- Navbar para dispositivos moviles ---- ---- ---- ----*/

#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: var(--negro);
	left: -200px;
	transition: all .4s linear;
	z-index: 200;
	padding: 0px 5px;
} 
.logo__img {
    width: 40px;
    height: 40px;
	margin: 6px;
}
#sidebar.active {
	left: 0px;
}
#sidebar ul li {
    color: var(--azul);
    list-style: none;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--gris-medio);
}
#sidebar ul li:hover {
	transition: linear .3s;
	background: var(--gris);
	color: var(--blanco);
}
#sidebar ul a {
	text-decoration: none;
}
#sidebar ul a li {
	font-family: 'Product Sans Black Regular';
	text-decoration: none;
	color: var(--blanco);
}
#sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 8px;
	cursor: pointer;
} 
#sidebar .toggle-btn span {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
}
/*---- ---- ---- ---- Configuraciones (index.html) ---- ---- ---- ----*/
.contenedor__usuarios{
	height: 100%;
	height: 100%;
	margin: 16.5% 0;
}
.contenedor__cuentas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.cuenta{
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-position: center center;
	margin: 0 10px;
}
.cuenta img {
	width: 100%;
	height: 100%;
	background-position: center center;
	border-radius: var(--radio);
}
.cuenta img:hover {
	transition: ease all .4s;
	transform: scale(1.15);
}
.usuarios{
	margin: 0;
}
.nombre__cuenta{
	text-align: center;
}
/*---- ---- ---- ---- Confirguraciones (registrar.html) ---- ---- ---- ----*/

.carlos::before{
	content: "Carlos";
	text-align: center;
}
.fernando::before{
	content: "Fernando";
	text-align: center;
}
.eliud::before{
	content: "Eliud";
	text-align: center;
}
.manrique::before{
	content: "Manrique";
	text-align: center;
}
.contenedor__ingresar__cuenta h4{
	font-size: 25px;
    width: 100%;
    text-align: center;
}
.contenedor__ingresar{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.contenedor__ingresar__cuenta {
	width: 320px;
	height: auto;
	background: var(--gris-oscuro-2);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: var(--radio-2);
	padding: 70px 30px;
} 
.contenedor__ingresar__cuenta .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.contenedor__ingresar__cuenta label {
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
	display: block;
}
.boton{
    margin-top: 10px;
	background: var(--azul);
	border: none;
	border-radius: 4.96px;
	padding: 12px 28px;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 15px;
	font-weight: bold;
    outline: inherit;
}
@media only screen and (max-width: 980px) {
	.contenedor__usuarios {
		margin: 60% 0;
	}
	.cuenta {
		height: 100px;
		padding: 0px 3px;
		margin: 0;
	}	
}
/*---- ---- ---- Slider principal ---- ---- ----*/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}
.slider img {
	width: 100%;
}
.slider li {
	width: 100%;
	list-style: none;
}
@keyframes cambio {	
	25% {margin-left: -100%;}
}
/*---- ---- ---- Backgrounds de el slider principal ---- ---- ----*/
.slider-content1 { /*fire force */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://carlos-burelo.github.io/Boreal/img/banners/fire_force_banner.webp);
}
.slider-content2 { /*kimetsu */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://carlos-burelo.github.io/Boreal/img/banners/kimetsu_no_yaiba_banner.webp);
}
.slider-content3 { /*konosuba */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://carlos-burelo.github.io/Boreal/img/banners/konosuba_banner.webp);
}
.slider-content4 { /*boku no hero */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://carlos-burelo.github.io/Boreal/img/banners/boku_no_hero_banner.webp);
}
.banner-principal {
	font-size: 16px;
	height: 500px;
	color: #fff;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.banner-principal .contenedor {
	margin: 1 auto;
	margin-bottom: 100px;
}
.banner-principal .titulo-banner {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 20px;
}
.banner-principal .descripcion-banner {
	font-weight: normal;
	font-size: 16;
	line-height: 28px;
	max-width: 50%;
	margin-bottom: 20px;
}
.banner-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color: #fff;
	margin-right: 20px;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 17.92px;
    outline: inherit;
}
.banner-principal .boton:hover {
	background: #fff;
	color: #000;
}
.banner-principal .boton i {
	margin-right: 20px;
}
.navigation-wrapper {
	position: relative;
  }

  .dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
  }

  .dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
  }

  .dot:focus {
	outline: none;
  }

  .dot--active {
	background: var(--azul);
  }

  .arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #fff;
	cursor: pointer;
  }

  .arrow--left {
	left: 5px;
  }

  .arrow--right {
	left: auto;
	right: 5px;
  }

  .arrow--disabled {
	fill: rgba(255, 255, 255, 0.5);
  }
/*---- ---- ---- propiedades de categorias ---- ---- ----*/
.categorias{
	margin: 20px 0px;
	font-size: 20px;
	float: left;
}
.c_populares{
	color:var(--azul);
}
.c_peliculas{
	color: var(--verde)
}
.c_ovas{
	color: var(--amarillo);
}
.c_recientes{
	color: var(--rojo);
}
/*---- ---- ---- Iconos de las categorias ---- ---- ----*/
.fa-play,.fa-video,.fa-star,.fa-clock{
	margin-right: 15px;
}
/*---- ---- ---- carrusel para las categorias ---- ---- ----*/
.carrusel {
	width: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.carrusel__container {
	white-space: nowrap;
	position: relative;
	width: 96%;
	margin: auto;
}
.carrusel__lista {
	overflow: hidden;
}
.carrusel__elemento {
	text-align: center;
}
.carrusel__item {
	width: 200px;
	height: 250px;
	border-radius: var(--radio);
	/* overflow: hidden; */
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center;
	position: relative;
}
.carrusel__container:hover .carrusel__item {
	opacity: 0.3;
}
.carrusel__container:hover .carrusel__item:hover {
	transform: scale(1.1);
	opacity: .5;
}
.carrusel__item__img {
	width: 150px;
	height: 230px;
	object-fit: cover;
	border-radius: var(--radio);
}
.carrusel__item:hover {
	transition: all .4s;
	transform: scale(1.1);
	border-radius: var(--radio);
	overflow: initial;
}
.carrusel__item__details {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 10px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.carrusel__item__details:hover {
	opacity: 1;
}
.carrusel__item__detalles__titulo {
   font-size: 15px;
}
.carrusel::-webkit-scrollbar {    
	height: 10px;
	overflow-y: hidden;
} 
.carrusel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	border-radius: 8px;
	overflow: hidden;
}
.carrusel::-webkit-scrollbar-track-piece {
	max-width: 100px;
	overflow: hidden;
}
.carrusel::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background-color: gray;
	overflow: hidden;  
}
.anterior1,.anterior2,.anterior3,.anterior4 {
    float: left;
	left: 20px;
	padding:114px 4px;
	color: var(--blanco);
	background: none;
	border: none;
	outline: none;
}
.siguiente1,.siguiente2,.siguiente3,.siguiente4{
	float: right;
	margin-left: -1px;
	padding: 114px 4px;
	color: var(--blanco);
	background: none;
	border: 0px solid;
	outline: none;
}
.siguiente1:hover,.siguiente2:hover,.siguiente3:hover,.siguiente4:hover,
.anterior1:hover,.anterior2:hover,.anterior3:hover,.anterior4:hover{
	transition: all .3s;
	color: var(--verde);
	background-color: var(--gris-oscuro);
}
/*---- ---- ---- bonones de los animes ---- ---- ----*/
.card-boton .fa-play{
	margin: 0;
	margin-right: 4px;
}
.card-boton {
    margin-top: 10px;
	background: rgba(7, 7, 7, 0.596);
	border: none;
	border-radius: 4.96px;
	padding: 15px 25px;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 12px;
    outline: inherit;
}
.card-boton i {
	margin-right: 0px;
}
.card-boton:hover{ 
    background: #8b8b8b4f;
	color: rgb(255, 255, 255);
}
.listado-capitulos{
  margin-bottom: 20px;
  max-height: 400px;
  overflow-x: auto;
}
/*---- ---- ---- Footer ---- ---- ----*/
.footer{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background: #070707;
	padding: 20px 0px;
}
.docs-list,.social-list{
	text-decoration: none;
	list-style: none;
}
.social{
	font-size: 20px;
}
.social-list{
	float: right;
	top: 30px;
	display: flex;
}
.docs-list li,.social-list{
	margin: 10px 0px;
}
.social-list li{
	margin: 0px 10px;
}
.fa-facebook-square,.fa-github,.fa-twitter,.fa-telegram-plane{
	margin-right: 5px;
	font-size: 30px;
}
.fa-facebook-square,.fa-github,.fa-twitter,.fa-telegram-plane{
	color: #fff;
}
.fa-facebook-square:hover,.fa-github:hover,.fa-twitter:hover,.fa-telegram-plane:hover{
	color: var(--azul);
	transition: all .4s;
	transform: scale(1.3);
}
.copy{
	text-align: center;
	font-size: 18px;
	color: var(--verde);
	font-weight: 600;
	font-family: 'Product Sans Light Regular';
}
/*---- ---- ---- Responsive design (home.html) ---- ---- ----*/
@media only screen and (max-width: 980px) {
	.banner-principal .boton {
		margin-bottom: 10px;
	}
	#sidebar .toggle-btn {
		right: 212px;
	}
	.fa-stream{
		font-size: 30px;
		color: var(--blanco);
	}
	.banner-principal{
		height: 400px;
	}
	.banner-principal .titulo-banner {
		font-weight: 600;
		font-size: 30px;
		margin-top: 20px;
	}
	.banner-principal .boton {
		background: rgba(0,0,0, 0.5);
		border: none;
		border-radius: 4.96px;
		padding: 14px 20px;
		color: #fff;
		margin-right: 0px;
		cursor: pointer;
		transition: .3s ease all;
		font-size: 14px;
		outline: inherit;
	}
	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	.banner-principal {
		font-size: 14px;
	}
	.banner-principal .descripcion-banner {
		max-width: 100%;
	}
	.anterior1,
	.anterior2,
	.anterior3,
	.anterior4,
	.siguiente1,
	.siguiente2,
	.siguiente3,
	.siguiente4{
		display: none;
	}
}
/*---- ---- ---- ---- Buscar.html ---- ---- ---- ----*/
.contenedor__busqueda{
	width: 100%;
	margin-bottom: 20px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.busqueda__titulo{
	text-align: center;
	padding-bottom: 20px;
	font-size: 25px;
}
.grid {
	position: relative;
	width: 100%;
}
.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 5px;
	width: 13.5%;
	color: var(--blanco);
}
.grid .item-contenido {
	position: relative;	
}
.grid .item img {
	width: 100%;
	height: 250px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 5px;
}
.grid:hover .item img:hover{
	transition: all .3s;
}
.contenedor__busqueda__elementos{
	margin-top: 30px;
}
.barra-busqueda {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #1f1f1f;
	padding: 0px 20px;
	color: #fff;
	border-radius: 10px;
	border: none;
	text-align: left;
	font-size: 16px;
	outline: none;
}
.nombre_anime{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 14px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.nombre_anime:hover {
	opacity: 1;
	transition: all .3s;
}
/*---- ---- ---- ---- Responsive desing (buscar.html) ---- ---- ---- ----*/
@media only screen and (max-width: 768px) {
	.grid .item {
		width: 31.33333%;
		margin: 2px;
	}
	.grid .item img{
		height: 170px;
	}
	.nombre_anime{
		font-size: 11.2px;
		flex-flow: column;
	}
	.contenedor__busqueda__elementos{
		margin-top: 30px;
	}
}

/*---- ---- ---- ---- Contenedor de las paginas de anime ---- ---- ---- ----*/
.contenedor__principal__anime{
	display: flex;
	justify-content: initial;
	align-items: initial;
	height: 100%;
}
.contenedor__navegacion{
	width: 100%;
	margin: 10px 0px;
	background: var(--gris-medio);
	padding: 8px ;
	border-radius: var(--radio);
	align-items: center;
}
.contenedor__navegacion a{
	text-decoration: none;
	color: var(--blanco);
	margin: 0px 10px
}
.contenedor__navegacion i{
	vertical-align: middle;
}
/*---- ---- ---- ---- Primer sector (Label) ---- ---- ---- ----*/
.contenedor__categorias__anime{
	width: 20%;
	background-color: var(--gris-oscuro);
	border-radius: var(--radio-2);
}
.menu__categorias li {
	list-style: none;
	padding: 40px 20px;
	font-size: 20px;
}
.menu__categorias a{
	text-decoration: none;
	color: var(--blanco);
}
/*---- ---- ---- ---- Segundo sector (Ficha) ---- ---- ---- ----*/
.contenedor__ficha__anime{
	width: 58%;
	height: 100%;
	padding: 20px;
}
.tipo{
	font-size: 18px;
	color: var(--azul);
}
.titulo__anime__banner{
	font-size: 50px;
}
.titulo__alternativo__banner{
	margin-bottom: 15px;
}
.calificacion i{
	color: var(--amarillo);
}
.titulo__temporada{
	width: 62%;
	display: flex;
	justify-content: space-between;
}
.descripcion__anime{
	width: auto;
}
.descripcion__anime__banner{
	font-weight: 600;
}
.contenedor__generos{
	margin-top: 30px;
	width: 90%;
}
.temporada__fecha{
	color: var(--azul);
}
.genero{
	padding: 10px 20px;
	background: var(--gris);
	border-radius: 40px;
	text-decoration: none;
	color: var(--blanco);
	margin: 0px 5px;
}
.genero:hover{
	transition: all .4s;
	background: var(--azul);
}
.botonera{
	margin: 10px 0px;
}
.botonera .boton {
	background: #00000060;
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color:var(--blanco);
	margin-right: 20px;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 17.92px;
    outline: inherit;
}
.botonera .fa-plus{
	margin-right: 15px;
}
.botonera .boton:hover{
	background-color: var(--blanco);
	color: var(--negro)
}
/*---- ---- ---- ---- Tercer sector (banner) ---- ---- ---- ----*/
.banner__anime {
	height: 550px;
	display: flex;
	width: 100%;
}

@media only screen and (max-width: 980px) {
	.contenedor__categorias__anime{
		display: none;
	}
	.titulo__anime__banner{
		font-size: 30px;
	}
	.contenedor__ficha__anime{
		width: 100%;
		padding: 10px;
	}
	.calificacion{
		margin-bottom: 8px;
	}
	.contenedor__generos {
		margin-top: 20px;
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	.background__img {
		background-position: initial;
	}
	.banner__anime {
		height: 440px;
	}
	ocultar{
		display: none;
	}
	.botonera .boton {
		margin: 0;
		padding: 10px 20px;
	}
}
/*---- ---- ---- ---- Conetendor panel.html ---- ---- ---- ----*/
/*Valores por defecto*/
#subir__anime,#editar__anime,#borrar__anime,#configuracion{
	display: none;
}
#bienvenida__panel {
    height: 100%;
    margin: 18% 0;
}
.contenedor__bienvenida{
	display: flex;
	flex-direction: column;
	text-align: center;
}
#bienvenida__panel i{
	font-size: 80px;
	color: var(--azul);
}
.cuenta__actual__contenedor{
	display: flex;
	align-items: center;
	margin: 18px 0px;
}
.panel__navegacion{
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: var(--gris-oscuro-2);
	border-radius: var(--radio);
	vertical-align: middle;
}
.panel__navegacion i,
.panel__navegacion a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: var(--blanco);
	margin: 0px 4px;
}

.activo{
	background: #0084ff;
}
.cuenta__actual .admin__img{
	width: 65px;
	height: 65px;
	border-radius: 40px;
	margin-left: 10px;
}
.cuenta_actual_descripcion{
	margin: 25px 10px;
}
.admin__name{
	font-size: 25px;
	color: var(--blanco);
}
.admin__rango{
	color: var(--amarillo);
}
.contenedor__panel__principal{
	display: flex;
	/* height: 92.4vh; */
}
.contenedor__panel__dasboard{
	width: 18%;
	background: var(--gris-oscuro-2);
}
.dashboard__elementos{
	text-decoration: none;
	color: var(--blanco);
}
.dasboard__item{
	padding: 30px 20px;
	font-weight: bold;
}
.dasboard__item i{
	margin-right: 10px;
	font-size: 18px;
}
.dasboard__item li a:hover .dasboard__item i:hover{
	background: var(--azul);

}
.contenedor__panel__contenido{
	background: var(--gris);
	width: 100%;
	padding: 15px;
}