/*---- ---- ---- Ajuste universal ---- ---- ----*/
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
html {
	scroll-behavior: smooth;
}
:root{
	--radio: 5px;
	--radio-2: 10px;
    --negro: #000000;
    --blanco: #ffffff;
	--gris: #252525;
	--verde: #3ef0ac;
	--azul: #0084ff;
	--rojo: #ff2020;
	--amarillo: #ffcb22;
	--gris-oscuro: #070707;
	--gris-oscuro-2: #0c0c0c;
	--gris-medio: #111111;
	--celeste: #5ea78b;
}
a{
    outline:none;
    outline-width: 0;
    box-shadow: none;
}
i{
	font-display: fallback;
}
/*---- ---- ---- ---- Fonts ---- ---- ---- ----*/
@font-face {
font-family: 'Product Sans Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Light Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Light Regular'), url('../assets/fonts/ProductSans-Light.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Medium Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Medium Regular'), url('../assets/fonts/ProductSans-Medium.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Black Regular';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Black Regular'), url('../assets/fonts/ProductSans-Black.woff') format('woff');
}
@font-face {
font-family: 'Product Sans Bold';
font-style: normal;
font-weight: normal;
font-display: fallback;
src: local('Product Sans Bold'), url('../assets/fonts/ProductSans-Bold.woff') format('woff');
}
/*---- ---- ---- ---- Scrollbar para escritorio (*.html) ---- ---- ---- ----*/
::-webkit-scrollbar {
	background: var(--negro);
	border-radius: 4px;
	width: 10px;
	height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
	background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb {
	background: var(--gris);
	border-radius: 10px;
}
/*---- ---- ---- Body ---- ---- ----*/
body{
	font-family: 'Product Sans Regular';
	background: var(--negro);
	color: var(--blanco);
}
/*---- ---- ---- ---- Contenedores (*.html) ---- ---- ---- ----*/
.contenedor {
	width: 95%;
	margin: auto;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*---- ---- ---- ---- Navbar para dispositivos moviles ---- ---- ---- ----*/
#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: var(--negro);
	right: -200px;
	transition: all .4s linear;
	z-index: 200;
	padding: 0px 5px;
}
.logo__img{
	width: 50px;
	height: 50px;
	margin: 5px;
}
#sidebar.active {
	right: 0px;
}
#sidebar ul li {
	color: var(--azul);
	list-style: none;
	padding: 15px 10px;
	margin: 10px 0px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	background-color: var(--gris-medio);
}
#sidebar ul li:hover {
	transition: linear .3s;
	background: var(--gris);
	color: var(--blanco);
}
#sidebar ul a {
	text-decoration: none;
}
#sidebar ul a li {
	font-family: 'Product Sans Black Regular';
	text-decoration: none;
	color: var(--blanco);
}
#sidebar .toggle-btn {
	position: absolute;
	right: 230px;
	top: 15px;
	cursor: pointer;
} 
#sidebar .toggle-btn span {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
}
/*---- ---- ---- ---- Configuraciones (index.html) ---- ---- ---- ----*/
.contenedor__usuarios{
	height: 100%;
	height: 100%;
	margin: 16.5% 0;
}
.contenedor__cuentas{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.cuenta{
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-position: center center;
	margin: 0 10px;
}
.cuenta img {
	width: 100%;
	height: 100%;
	background-position: center center;
	border-radius: var(--radio);
}
.cuenta img:hover {
	transition: ease all .4s;
	transform: scale(1.15);
}
.usuarios{
	margin: 0;
}
.nombre__cuenta{
	text-align: center;
}
/*---- ---- ---- ---- Confirguraciones (registrar.html) ---- ---- ---- ----*/

.carlos::before{
	content: "Carlos";
	text-align: center;
}
.fernando::before{
	content: "Fernando";
	text-align: center;
}
.eliud::before{
	content: "Eliud";
	text-align: center;
}
.manrique::before{
	content: "Manrique";
	text-align: center;
}
.contenedor__ingresar__cuenta h4{
	font-size: 25px;
    width: 100%;
    text-align: center;
}
.contenedor__ingresar{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.contenedor__ingresar__cuenta {
	width: 320px;
	height: auto;
	background: var(--gris-oscuro-2);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: var(--radio-2);
	padding: 70px 30px;
} 
.contenedor__ingresar__cuenta .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.contenedor__ingresar__cuenta label {
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
	display: block;
}
.boton{
    margin-top: 10px;
	background: var(--azul);
	border: none;
	border-radius: 4.96px;
	padding: 12px 28px;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 15px;
	font-weight: bold;
    outline: inherit;
}

/*---- ---- ---- Slider principal ---- ---- ----*/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}
.slider img {
	width: 100%;
}
.slider li {
	width: 100%;
	list-style: none;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*---- ---- ---- Backgrounds de el slider principal ---- ---- ----*/
.slider-content1 { /*fire force */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../assets/img/banners/fire_force_banner.webp);
}
.slider-content2 { /*kimetsu */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../assets/img/banners/kimetsu_no_yaiba_banner.webp);
}
.slider-content3 { /*konosuba */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../assets/img/banners/konosuba_banner.webp);
}
.slider-content4 { /*boku no hero */
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../assets/img/banners/boku_no_hero_banner.webp);
}
.banner-principal {
	font-size: 16px;
	height: 500px;
	color: #fff;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: end;
}
.banner-principal .contenedor {
	margin: 1 auto;
	margin-bottom: 100px;
}
.banner-principal .titulo-banner {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 20px;
}
.banner-principal .descripcion-banner {
	font-weight: normal;
	font-size: 16;
	line-height: 28px;
	max-width: 50%;
	margin-bottom: 20px;
}
.banner-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color: #fff;
	margin-right: 20px;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 17.92px;
    outline: inherit;
}
.banner-principal .boton:hover {
	background: #fff;
	color: #000;
}
.banner-principal .boton i {
	margin-right: 20px;
}
/*---- ---- ---- propiedades de categorias ---- ---- ----*/
.categorias{
	margin: 20px 0px;
	font-size: 20px;
	float: left;
}
.c_populares{
	color:var(--azul);
}
.c_peliculas{
	color: var(--verde)
}
.c_ovas{
	color: var(--amarillo);
}
.c_recientes{
	color: var(--rojo);
}
/*---- ---- ---- Iconos de las categorias ---- ---- ----*/
.fa-play,.fa-video,.fa-star,.fa-clock{
	margin-right: 15px;
}
/*---- ---- ---- carrusel para las categorias ---- ---- ----*/
.carrusel {
	width: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.carrusel__container {
	white-space: nowrap;
	position: relative;
	width: 96%;
	margin: auto;
}
.carrusel__lista {
	overflow: hidden;
}
.carrusel__elemento {
	text-align: center;
}
.carrusel__item {
	width: 200px;
	height: 250px;
	border-radius: var(--radio);
	overflow: hidden;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center;
	position: relative;
}
.carrusel__container:hover .carrusel__item {
	opacity: 0.3;
}
.carrusel__container:hover .carrusel__item:hover {
	transform: scale(1.1);
	opacity: 1;
}
.carrusel__item__img {
	width: 150px;
	height: 230px;
	object-fit: cover;
}
.carrusel__item:hover {
	transition: all .4s;
	transform: scale(1.1);
	border-radius: var(--radio);
}
.carrusel__item__details {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 10px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.carrusel__item__details:hover {
	opacity: 1;
}
.carrusel__item__detalles__titulo {
   font-size: 15px;
}
.carrusel::-webkit-scrollbar {    
	height: 10px;
	overflow-y: hidden;
} 
.carrusel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	border-radius: 8px;
	overflow: hidden;
}
.carrusel::-webkit-scrollbar-track-piece {
	max-width: 100px;
	overflow: hidden;
}
.carrusel::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background-color: gray;
	overflow: hidden;  
}
.anterior1,.anterior2,.anterior3,.anterior4 {
    float: left;
	left: 20px;
	padding:114px 4px;
	color: var(--blanco);
	background: none;
	border: none;
	outline: none;
}
.siguiente1,.siguiente2,.siguiente3,.siguiente4{
	float: right;
	margin-left: -1px;
	padding: 114px 4px;
	color: var(--blanco);
	background: none;
	border: 0px solid;
	outline: none;
}
.siguiente1:hover,.siguiente2:hover,.siguiente3:hover,.siguiente4:hover,
.anterior1:hover,.anterior2:hover,.anterior3:hover,.anterior4:hover{
	transition: all .3s;
	color: var(--verde);
	background-color: var(--gris-oscuro);
}
/*---- ---- ---- bonones de los animes ---- ---- ----*/
.card-boton .fa-play{
	margin: 0;
	margin-right: 4px;
}
.card-boton {
    margin-top: 10px;
	background: rgba(7, 7, 7, 0.596);
	border: none;
	border-radius: 4.96px;
	padding: 15px 25px;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 12px;
    outline: inherit;
}
.card-boton i {
	margin-right: 0px;
}
.card-boton:hover{ 
    background: #8b8b8b4f;
	color: rgb(255, 255, 255);
}
.listado-capitulos{
  margin-bottom: 20px;
  max-height: 400px;
  overflow-x: auto;
}
/*---- ---- ---- Footer ---- ---- ----*/
.footer{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background: #070707;
	padding: 20px 0px;
}
.docs-list,
.social-list{
	text-decoration: none;
	list-style: none;
}
.social{
	font-size: 20px;
}
.social-list{
	float: right;
	top: 30px;
	display: flex;
}
.docs-list li,.social-list{
	margin: 10px 0px;
}
.social-list li{
	margin: 0px 10px;
}
.fa-facebook-square,.fa-github,.fa-twitter,.fa-telegram-plane{
	margin-right: 5px;
	font-size: 30px;
}
.fa-facebook-square,.fa-github,.fa-twitter,.fa-telegram-plane{
	color: #fff;
}
.fa-facebook-square:hover,.fa-github:hover,.fa-twitter:hover,.fa-telegram-plane:hover{
	color: var(--azul);
	transition: all .4s;
	transform: scale(1.3);
}
.copy{
	text-align: center;
	font-size: 18px;
	color: var(--verde);
	font-weight: 600;
	font-family: 'Product Sans Light Regular';
}
/*---- ---- ---- Responsive design (home.html) ---- ---- ----*/
@media only screen and (max-width: 980px) {
	.banner-principal .boton {
		margin-bottom: 10px;
	}
	.fa-stream{
		font-size: 30px;
		color: var(--blanco);
	}
	.banner-principal{
		height: 400px;
	}
	.banner-principal .titulo-banner {
		font-weight: 600;
		font-size: 30px;
		margin-top: 20px;
	}
	.banner-principal .boton {
		background: rgba(0,0,0, 0.5);
		border: none;
		border-radius: 4.96px;
		padding: 14px 20px;
		color: #fff;
		margin-right: 0px;
		cursor: pointer;
		transition: .3s ease all;
		font-size: 14px;
		outline: inherit;
	}
	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	.banner-principal {
		font-size: 14px;
	}
	.banner-principal .descripcion-banner {
		max-width: 100%;
	}
	.anterior1,
	.anterior2,
	.anterior3,
	.anterior4,
	.siguiente1,
	.siguiente2,
	.siguiente3,
	.siguiente4{
		display: none;
	}
}

/*---- ---- ---- ---- Buscar.html ---- ---- ---- ----*/
.contenedor__busqueda{
	width: 100%;
	margin-bottom: 20px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.busqueda__titulo{
	text-align: center;
	padding-bottom: 20px;
	font-size: 25px;
}
.grid {
	position: relative;
	width: 100%;
	opacity: 0;
}
.mostrar__grid{
	transition: linear .4s;
	opacity: 1;
}
.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 5px;
	width: 13.5%;
	color: var(--blanco);
}
.grid .item-contenido {
	position: relative;	
}
.grid .item img {
	width: 100%;
	height: 250px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 5px;
}
.grid:hover .item img:hover{
	transition: all .3s;
}
.contenedor__busqueda__elementos{
	margin-top: 30px;
}
.barra-busqueda {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #1f1f1f;
	padding: 0px 20px;
	color: #fff;
	border-radius: 10px;
	border: none;
	text-align: left;
	font-size: 16px;
	outline: none;
}
.nombre_anime{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 14px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.nombre_anime:hover {
	opacity: 1;
	transition: all .3s;
}
/*---- ---- ---- ---- Responsive desing (buscar.html) ---- ---- ---- ----*/
@media only screen and (max-width: 768px) {
	.grid .item {
		width: 31.33333%;
		margin: 2px;
	}
	.grid .item img{
		height: 170px;
	}
	.nombre_anime{
		font-size: 11.2px;
		flex-flow: column;
	}
	.contenedor__busqueda__elementos{
		margin-top: 30px;
	}
}