*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
:root{
    /* valores base */
    --radio: 10px;
    /* colores en tema white */
    --negro: #000000;
    --blanco: #ffffff;
	--gris: #252525;
	--verde: #3ef0ac;
}
::-webkit-scrollbar {
	background: var(--negro);
  border-radius: 4px;
  width: 10px;     /* Tamaño del scroll en vertical */
  height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
  background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;     /* Tamaño del scroll en vertical */
  height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
  width: 10px;     /* Tamaño del scroll en vertical */
  height: 8px; 
}

/*--- --- --- mientras no es presionado --- --- ---*/
::-webkit-scrollbar-thumb {
  background: var(--gris);
	border-radius: 10px;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--negro);
  color: var(--blanco)
}

.contenedor {
	width: 90%;
	margin: auto;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* logotipo */
header .logotipo {
    font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--titulos-black);
	font-size: 40px;
}
header nav a {
	color: #666666;
	text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

header nav a:hover{
    color: #ffffff;
    transition: 0.4s;
}
header nav a.activo {
	color: var(--verde)
}
/* cards */
.agregados-recientemente{
    margin: 35px 40px;
}
.fa-clock{
    margin-right: 15px;
}
.contenedor2 {
	width: 95%;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.box {
    position: relative;
    width: 200px;
    height: 320px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
  }
  
  .box .imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .box .imgBx img {
    position: absolute;
    border-radius: var(--radio);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  
  .box:hover .imgBx img {
    opacity: 0;
  }
  
.box .content {
    position: absolute;
    bottom: 0;
    height: 60px;
    background: rgb(0 0 0 / 83%);
    transition: 0.4s;
    overflow: hidden;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}
  
  .box:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  
  .box .content h3 {
    /* margin: 0;
    padding: 0; */
    font-size: 16px;
    vertical-align: middle;
  }
  
  .box .content p {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    /* line-height: 1.2em; */
    transition: 0.3s;
    text-align: left;
    vertical-align: middle;
  }
  
  .box:hover .content p {
    opacity: 1;
    transition-delay: 0.1s;
    font-size: 14px;
    vertical-align: middle;
  }
.card-boton {
    margin-top: 20px;
	background: rgba(48, 48, 48, 0.596);
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 13px;
    outline: inherit;
}
.card-boton i {
	margin-right: 20px;
}
.card-boton:hover{ 
    background: #fff;
	color: #000;
}

/*--- --- --- anime  --- --- ---*/
.anime-contenedor{
  width: 90%;
  height: 100%;

  background: var(--gris);
  position: relative;
}
/*--- --- --- anime banner --- --- ---*/
.kimetsu_no_yaiba_banner { /*kimetsu */
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://i.pinimg.com/originals/88/eb/5c/88eb5cc2fcebaeb2bd76987a4ca4ad2b.png);
}
/* banner */
.banner-principal {
	font-size: 16px;
	color: #fff;
	/* background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, 0.644) 100%), url(https://i.pinimg.com/originals/88/eb/5c/88eb5cc2fcebaeb2bd76987a4ca4ad2b.png); */
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: end;
}

.banner-principal .contenedor {
	margin: 45px 0px 0px 44%;
	margin-bottom: 100px;
}

.banner-principal .titulo-banner {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 20px;
}

.banner-principal .descripcion-banner {
	font-weight: normal;
	font-size: 16;
	line-height: 28px;
	max-width: 50%;
	margin-bottom: 20px;
}

.banner-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 4.96px;
	padding: 14.88px 29.92px;
	color: #fff;
	margin-right: 20px;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 17.92px;
    outline: inherit;
}

.banner-principal .boton:hover {
	background: #fff;
	color: #000;
}

.banner-principal .boton i {
	margin-right: 20px;
}
/* @media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.banner-principal {
		font-size: 14px;
	} */
.anime-portada{
	width: 330px;
	border-radius: var(--radio);
	height: 450px;
	position: absolute;
	left: 110px;
	top: 80px;
}

.listado-capitulos {
	margin: 20px 0px;
}
.listado-informacion{
	margin: 20px 0px;
	margin-right: 35%;
}
.titulos-list-info{
	display: flex;
	justify-content: space-between;
}
.fa-list-ul{
	margin-right: 10px;
}
.capitulo-lista{
	height: 400px;
	width: 50%;
    overflow-x: hidden;
}
.capitulo-lista a{
	text-decoration: none;
	text-align: left;
}
.capitulo-lista li{
	list-style: none;
	margin-top: 10px;
}
.capitulo-boton {
	margin-top: 20px;
	background: rgba(48, 48, 48, 0.596);
	border: none;
	border-radius: 4.96px;
	padding: 14px 34%;
    /* padding-left: 20px;
    padding-right: 220px;
	padding-bottom: 14px;
	padding-top: 14px; */
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
    font-size: 13px;
	outline: inherit;
	text-align: left;
}
.capitulo-boton:hover{ 
    background: #fff;
	color: #000;
	font-weight: bold;
}
/* informacion */
.contenedor-listado {
	position: relative;
}
h2.informacion-anime{
	display: inline;
	position: absolute;
	bottom: 30px;
}

/*--- --- --- popup video --- --- ---*/
.popup-contenido{
    align-items: center;
    position: relative;
	border-radius: 8px;
}
.fa-times{
	font-size: 30px;
}
.popup-contenido a{
	position: absolute;
	text-decoration: none;
	color: var(--negro);
	right: 120px;
	top: 15px;
	z-index: 200;
}
video{
	width: 85.5%;
	margin-left: 7.25%;
	margin-right: 7.25%;
}
.video{
	position: relative;
}
.popup{
    background-color: rgba(0, 0, 0, 0.945);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: ease all .3s;
}

.footer{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	background: #070707;
	padding: 20px 0px;
}
.docs-list,
.social-list{
	text-decoration: none;
	list-style: none;
}
.social{
	font-size: 20px;
}
.social-list{
	float: right;
	top: 30px;
	display: flex;
}
.docs-list li,.social-list{
	margin: 10px 0px;
}
.social-list li{
	margin: 0px 10px;
}
.fa-facebook-square,
.fa-github,
.fa-twitter,
.fa-telegram-plane{
	margin-right: 5px;
	font-size: 30px;
}
.facebook{
	color: #3b5998;
}
.github{
	color: #333;
}
.twitter{
	color: #1da1f2;
}
.telegram{
	color: #0088cc;
}
.fa-facebook-square:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-telegram-plane:hover{
	color: #fff;
}
.copy{
	text-align: center;
	font-size: 18px;
	color: var(--verde);
}