* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    --radio: 10px;
    --negro: #000000;
    --blanco: #ffffff;
	--gris: #252525;
	--verde: #3ef0ac;
	--azul: #0084ff;
	--rojo: #ff2020;
	--amarillo: #ffcb22;
	--gris-oscuro: #070707;
	--celeste: #5ea78b;
}
/*---- ---- ---- color del scrollbar ---- ---- ----*/
::-webkit-scrollbar {
	background: var(--negro);
	border-radius: 4px;
	width: 10px;
	height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
	background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb {
	background: var(--gris);
	border-radius: 10px;
}
body {
	background: #000000;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 95%;
	margin: auto;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logotipo */
header .logo__img{
	height: 40px;
	width: 40px;
	margin: 15px 0px;
}
.logo__img__menu{
	height: 40px;
	width: 40px;
	margin: 10px 0px;
}

nav {
    margin-left: auto;
}
header nav a {
	color: #666666;
	text-decoration: none;
    margin-right: 20px;
	font-weight: bold;
	float: left;
}
header nav a:hover{
    color: #ffffff;
    transition: 0.4s;
}
header nav a.activo {
	color: var(--verde);
}
header form {
	/* margin-right: -75px; */
	color: #ffffff;
}
nav {
	float: left;
}
header .barra-busqueda {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #1f1f1f;
	padding: 0px 20px;
	color: #fff;
	border-radius: 100px;
	border: none;
	text-align: left;
	font-size: 16px;
	outline: none;
}
.menu_desplegable{
	display: none;
	color: var(--blanco);
}
/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 5px;
	width: 13.5%;
	color: var(--blanco);
}

.grid .item-contenido {
	position: relative;	
}
.grid .item img {
	width: 100%;
	height: 250px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 5px;
}
/* .grid:hover .item img{
	transition: all 1.1s;
	opacity: 0.5;
} */

.grid:hover .item img:hover{
	transition: all .3s;
}

.nombre_anime{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 14px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.nombre_anime:hover {
	opacity: 1;
	transition: all .3s;
}



/*---- ---- ---- MENU PARA DISPOSITIVOS MOVILES ---- ---- ----*/
.menu_desplegable{
	width: 100%;
	display: none;
}
.contenedor__menu{
	height: 100%;
	transition-delay: 2s;
}
.logo__menu__img{
	margin: 20px 30px;
	height: 40px;
	width: 40px;
}
.popup-contenido {
    /* align-items: center; */
    background-color: var(--negro);
    color: var(--letras-black);
    width: 50%;
    height: 100%;
    /* margin: 14px -0px 0px 129px; */
	border-radius: 8px;
	float: right;
}
.popup-contenido a .activo{
	color: var(--verde);
}
.popup-contenido h3{
    color: #ffffff;
    text-decoration: none;
    background-color:var(--gris-oscuro);
    padding: 10px 30px;
    margin: 5px;
	border-radius: 5px;
	text-align: initial;
}
.popup-contenido h3:hover{
	background: var(--verde);
	color: #000000;
}
.popup-contenido a{
    text-decoration: none;
    color: #ffffff;
}
.popup-contenido h3 a:hover{
    text-decoration: none;
    color: #000000;
}
.popup-contenido h3:hover .popup-contenido a{
	color: #000000;
}
.popup{
    background-color: rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: ease all .3s;
}
#mipopup:target{
    opacity:1;
    z-index: 200;
    pointer-events:auto;
}
.boton__cerrar_menu {
    /* margin: 15px 10px; */
    width: 50%;
    height: 100%;
    color: var(--blanco);
	float: left;

    /* background: lightseagreen; */
}
.boton__cerrar_menu i{
	width: 100%;
	height: 100%;
	color: transparent;
}
/* ------------------------- */
/* Overlay */
/* ------------------------- */
@media only screen and (max-width: 768px) {
	.grid .item {
		width: 31.33333%;
		margin: 2px;
	}
	.grid .item img{
		height: 170px;
	}
	.nombre_anime{
		font-size: 11.2px;
		flex-flow: column;
	}
	nav{
		display: none;
	}
	.header_main{
		display: none;
	}
	.busqueda{
		display: inline;
		margin: 0;
	}
	header .menu_desplegable{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo__img{
		display: none;
	}
	.fa-stream{
		font-size: 30px;
		margin-right: 10px;
		color: var(--blanco);
	}
	header form {
		width: 80%;
		margin-top: 10px;
		margin-right: 20%;
		margin-left: 20%;
		margin-bottom: -50px;
		color: #ffffff;
	}
	/* .menu_desplegable{
		display: flex;
		margin-right: 10px;
		margin-top: 14px;
		font-size: 30px;
	}
	header .logo__img{
		height: 40px;
		width: 40px;
		margin: 10px 0px;
	} */
}

